<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.avvnapps.unigroc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity
                android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>


        <activity
                android:name="com.avvnapps.unigroc.ui.order_status.OrderItemDetailActivity"
                android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
                android:name=".ui.Activity.Order"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".ui.Activity.Products"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".ui.Activity.Wishlist"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".ui.Activity.IndividualProduct"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".ui.Activity.ContactUs"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".ui.Activity.ProfileActivity"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".ui.MainActivity"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".ui.Activity.SplashActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.generate_cart.DeliveryDetailsActivity" />

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key" />

        <activity
                android:name=".ui.location_address.CreateAddressActivity"
                android:theme="@style/MaterialTheme" />
        <activity android:name=".ui.location_address.SavedAddressesActivity" />
        <activity
                android:name=".ui.generate_cart.ReviewCartActivity"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".ui.generate_cart.SearchItemActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
                android:name=".ui.authentication.AuthUiActivity"
                android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.authentication.VerifyPhoneActivity" />
        <activity
                android:name=".ui.NavigationActivity"
                android:theme="@style/AppTheme.NoActionBar" />

        <service
                android:name=".services.MyFirebaseService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/primaryColor" />
    </application>

</manifest>